# Data Gathering

## Goals data

In [1]:
from fastai.tabular import *

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_pickle('./data/ligamx/Goals-Match')

In [4]:
df.tail()

,LOC,VIS,GL,GV,JRD,FECHA,HORA,ANO,TIPO,L_POS,L_JJ,JG_x,JE_x,JP_x,GF_x,GC_x,DIF_x,PTS_x,L_R_JG_JJ,L_R_JE_JJ,L_R_JP_JJ,L_R_GF_JJ,L_R_GC_JJ,L_R_DIF_JJ,L_R_PTS_JJ,V_POS,V_JJ,JG_y,JE_y,JP_y,GF_y,GC_y,DIF_y,PTS_y,V_R_JG_JJ,V_R_JE_JJ,V_R_JP_JJ,V_R_GF_JJ,V_R_GC_JJ,V_R_DIF_JJ,V_R_PTS_JJ,RES
4919,cruz azul,uag,2.0,2.0,19.0,15/5/2004,17:00,2004,clausura,12.0,19.0,6.0,5.0,8.0,36.0,34.0,2.0,23.0,1.0,0.0,0.0,6.0,2.0,4.0,3.0,19.0,19.0,5.0,3.0,11.0,32.0,40.0,-8.0,18.0,0.0,0.0,1.0,1.0,3.0,-2.0,0.0,1
4920,morelia,pachuca,4.0,1.0,19.0,15/5/2004,17:00,2004,clausura,16.0,19.0,6.0,5.0,8.0,25.0,34.0,-9.0,23.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,6.0,19.0,6.0,8.0,5.0,32.0,33.0,-1.0,26.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,2
4921,necaxa,atlas,0.0,1.0,19.0,15/5/2004,17:00,2004,clausura,14.0,19.0,5.0,6.0,8.0,22.0,26.0,-4.0,21.0,0.0,0.0,1.0,2.0,3.0,-1.0,0.0,7.0,19.0,6.0,9.0,4.0,28.0,25.0,3.0,27.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0
4922,guadalajara,san luis,4.0,1.0,19.0,15/5/2004,19:00,2004,clausura,4.0,19.0,9.0,5.0,5.0,29.0,23.0,6.0,32.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,18.0,19.0,4.0,6.0,9.0,23.0,34.0,-11.0,18.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,2
4923,irapuato,veracruz,3.0,2.0,19.0,16/5/2004,17:00,2004,clausura,11.0,19.0,6.0,8.0,5.0,23.0,30.0,-7.0,26.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,20.0,19.0,4.0,5.0,10.0,25.0,41.0,-16.0,17.0,0.0,0.0,1.0,2.0,6.0,-4.0,0.0,2

In [5]:
max(list(df.L_POS.unique()))

20.0

In [6]:
max(list(df.V_POS.unique()))

20.0

In [7]:
# df_ns = pd.read_pickle('./data/ligamx/Goals-Match_new_season')

In [8]:
# df = pd.concat([df, df_ns])
df.reset_index(drop = True, inplace = True)

In [9]:
len(df)

4924

In [10]:
df.tail(15)

,LOC,VIS,GL,GV,JRD,FECHA,HORA,ANO,TIPO,L_POS,L_JJ,JG_x,JE_x,JP_x,GF_x,GC_x,DIF_x,PTS_x,L_R_JG_JJ,L_R_JE_JJ,L_R_JP_JJ,L_R_GF_JJ,L_R_GC_JJ,L_R_DIF_JJ,L_R_PTS_JJ,V_POS,V_JJ,JG_y,JE_y,JP_y,GF_y,GC_y,DIF_y,PTS_y,V_R_JG_JJ,V_R_JE_JJ,V_R_JP_JJ,V_R_GF_JJ,V_R_GC_JJ,V_R_DIF_JJ,V_R_PTS_JJ,RES
4909,monterrey,puebla,2.0,2.0,18.0,8/5/2004,17:00,2004,clausura,17.0,18.0,2.0,12.0,4.0,26.0,27.0,-1.0,18.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,15.0,18.0,5.0,5.0,8.0,26.0,26.0,0.0,20.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,1
4910,san luis,toluca,1.0,1.0,18.0,8/5/2004,19:00,2004,clausura,19.0,18.0,4.0,6.0,8.0,22.0,30.0,-8.0,18.0,0.0,1.0,0.0,3.0,3.0,0.0,1.0,5.0,18.0,7.0,6.0,5.0,27.0,24.0,3.0,27.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,1
4911,atlas,guadalajara,1.0,1.0,18.0,8/5/2004,20:45,2004,clausura,7.0,18.0,5.0,9.0,4.0,27.0,25.0,2.0,24.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,3.0,18.0,8.0,5.0,5.0,25.0,22.0,3.0,29.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,1
4912,pachuca,irapuato,1.0,1.0,18.0,9/5/2004,12:00,2004,clausura,6.0,18.0,6.0,8.0,4.0,31.0,29.0,2.0,26.0,0.0,1.0,0.0,3.0,3.0,0.0,1.0,9.0,18.0,5.0,8.0,5.0,20.0,28.0,-8.0,23.0,0.0,1.0,0.0,3.0,3.0,0.0,1.0,1
4913,uag,unam,1.0,3.0,18.0,9/5/2004,16:00,2004,clausura,18.0,18.0,5.0,2.0,11.0,30.0,38.0,-8.0,17.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,2.0,18.0,11.0,5.0,2.0,39.0,17.0,22.0,38.0,1.0,0.0,0.0,6.0,1.0,5.0,3.0,0
4914,america,necaxa,3.0,2.0,18.0,9/5/2004,19:00,2004,clausura,4.0,18.0,8.0,5.0,5.0,31.0,26.0,5.0,29.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,12.0,18.0,5.0,6.0,7.0,22.0,25.0,-3.0,21.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,2
4915,toluca,santos,4.0,1.0,19.0,15/5/2004,15:00,2004,clausura,5.0,19.0,8.0,6.0,5.0,31.0,25.0,6.0,30.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,13.0,19.0,6.0,3.0,10.0,31.0,30.0,1.0,21.0,0.0,0.0,1.0,2.0,3.0,-1.0,0.0,2
4916,tigres,atlante,0.0,2.0,19.0,15/5/2004,17:00,2004,clausura,9.0,19.0,6.0,5.0,8.0,37.0,39.0,-2.0,23.0,1.0,0.0,0.0,3.0,2.0,1.0,3.0,8.0,19.0,7.0,6.0,6.0,29.0,26.0,3.0,27.0,1.0,0.0,0.0,2.0,1.0,1.0,3.0,0
4917,unam,monterrey,3.0,2.0,19.0,15/5/2004,17:00,2004,clausura,2.0,19.0,12.0,5.0,2.0,42.0,19.0,23.0,41.0,1.0,0.0,0.0,3.0,1.0,2.0,3.0,17.0,19.0,2.0,12.0,5.0,28.0,30.0,-2.0,18.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,2
4918,puebla,america,1.0,3.0,19.0,15/5/2004,17:00,2004,clausura,15.0,19.0,5.0,5.0,9.0,27.0,29.0,-2.0,20.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,3.0,19.0,9.0,5.0,5.0,34.0,27.0,7.0,32.0,1.0,0.0,0.0,3.0,2.0,1.0,3.0,0
4919,cruz azul,uag,2.0,2.0,19.0,15/5/2004,17:00,2004,clausura,12.0,19.0,6.0,5.0,8.0,36.0,34.0,2.0,23.0,1.0,0.0,0.0,6.0,2.0,4.0,3.0,19.0,19.0,5.0,3.0,11.0,32.0,40.0,-8.0,18.0,0.0,0.0,1.0,1.0,3.0,-2.0,0.0,1
4920,morelia,pachuca,4.0,1.0,19.0,15/5/2004,17:00,2004,clausura,16.0,19.0,6.0,5.0,8.0,25.0,34.0,-9.0,23.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,6.0,19.0,6.0,8.0,5.0,32.0,33.0,-1.0,26.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,2
4921,necaxa,atlas,0.0,1.0,19.0,15/5/2004,17:00,2004,clausura,14.0,19.0,5.0,6.0,8.0,22.0,26.0,-4.0,21.0,0.0,0.0,1.0,2.0,3.0,-1.0,0.0,7.0,19.0,6.0,9.0,4.0,28.0,25.0,3.0,27.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0
4922,guadalajara,san luis,4.0,1.0,19.0,15/5/2004,19:00,2004,clausura,4.0,19.0,9.0,5.0,5.0,29.0,23.0,6.0,32.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,18.0,19.0,4.0,6.0,9.0,23.0,34.0,-11.0,18.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,2
4923,irapuato,veracruz,3.0,2.0,19.0,16/5/2004,17:00,2004,clausura,11.0,19.0,6.0,8.0,5.0,23.0,30.0,-7.0,26.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,20.0,19.0,4.0,5.0,10.0,25.0,41.0,-16.0,17.0,0.0,0.0,1.0,2.0,6.0,-4.0,0.0,2

In [11]:
# df.at[4958, "JRD"] = 4
# df.at[4959, "JRD"] = 4
# df.drop(df.index[range(4960, 4969)], inplace=True)
# df.reset_index(drop=True, inplace=True)

In [12]:
# print(len(df))
# index_erase = df[(df.ANO == 2019) & (df.TIPO == 'apertura') & (df.JRD >= 15)].index
# print(len(index_erase))
# df.drop(index_erase, inplace = True)
# df.reset_index(drop = True, inplace = True)
# print(len(df))

In [13]:
teams_to_use = ['america',
 'atlas',
 'atletico de san luis',
 'cruz azul',
 'fc juarez',
 'guadalajara',
 'leon',
 'monterrey',
 'morelia',
 'necaxa',
 'pachuca',
 'puebla',
 'queretaro',
 'tigres',
 'tijuana',
 'toluca',
 'unam',
 'veracruz']

In [14]:
# sorting
import numpy as np
df['sort_val'] = df.ANO + df.JRD/1000 + (df.TIPO == 'apertura')/10
df = df.sort_values('sort_val').drop('sort_val', 1)

In [15]:
df.reset_index(drop=True, inplace=True)

In [16]:
teams = []

for name in df.LOC.unique():
    #team as local setup
    curr_df_loc = df[df.LOC == name].copy()
    curr_df_loc["ES_LOC"] = True
    curr_df_loc['EQUIPO'] = curr_df_loc.LOC
    curr_df_loc['EQUIPO_C'] = curr_df_loc.VIS
    curr_df_loc['GE'] = curr_df_loc.GL
    curr_df_loc['GEC'] = curr_df_loc.GV
    
    del curr_df_loc['LOC']
    del curr_df_loc['VIS']
    del curr_df_loc['GL']
    del curr_df_loc['GV']
    
    #team as visitor setup
    curr_df_vis = df[df.VIS == name].copy()
    curr_df_vis["ES_LOC"] = False
    curr_df_vis['EQUIPO'] = curr_df_vis.VIS
    curr_df_vis['EQUIPO_C'] = curr_df_vis.LOC
    curr_df_vis['GE'] = curr_df_vis.GV
    curr_df_vis['GEC'] = curr_df_vis.GL
    
    del curr_df_vis['LOC']
    del curr_df_vis['VIS']
    del curr_df_vis['GL']
    del curr_df_vis['GV']
    
    curr_df_vis['is_cero'] = curr_df_vis.RES == 0
    curr_df_vis['is_two'] = curr_df_vis.RES == 2
    
    curr_df_vis.loc[curr_df_vis.is_cero == True, 'RES'] = 2
    curr_df_vis.loc[curr_df_vis.is_two == True, 'RES'] = 0
    
    del curr_df_vis['is_cero']
    del curr_df_vis['is_two']
    
    cont_vars = ['POS', 'R_JG_JJ', 'R_JE_JJ', 'R_JP_JJ', 'R_GF_JJ', 'R_GC_JJ', 'R_DIF_JJ', 'R_PTS_JJ']
    for cont_v in cont_vars:
        curr_df_vis['L_' + cont_v + '_AUX'] = curr_df_vis['L_' + cont_v]
        curr_df_vis['L_' + cont_v] = curr_df_vis['V_' + cont_v]
        curr_df_vis['V_' + cont_v] = curr_df_vis['L_' + cont_v + '_AUX']
        del curr_df_vis['L_' + cont_v + '_AUX']
    
    
    #concatenating them
    curr_df = pd.concat([curr_df_loc, curr_df_vis]).copy()
    
    curr_df['sort_val'] = curr_df.ANO + curr_df.JRD/1000 + (curr_df.TIPO == 'apertura')/10
    curr_df = curr_df.sort_values('sort_val').drop('sort_val', 1)
    curr_df.reset_index(drop = True, inplace = True)
    teams.append(curr_df)

In [17]:
teams[4].tail()

,JRD,FECHA,HORA,ANO,TIPO,L_POS,L_JJ,JG_x,JE_x,JP_x,GF_x,GC_x,DIF_x,PTS_x,L_R_JG_JJ,L_R_JE_JJ,L_R_JP_JJ,L_R_GF_JJ,L_R_GC_JJ,L_R_DIF_JJ,L_R_PTS_JJ,V_POS,V_JJ,JG_y,JE_y,JP_y,GF_y,GC_y,DIF_y,PTS_y,V_R_JG_JJ,V_R_JE_JJ,V_R_JP_JJ,V_R_GF_JJ,V_R_GC_JJ,V_R_DIF_JJ,V_R_PTS_JJ,RES,ES_LOC,EQUIPO,EQUIPO_C,GE,GEC
284,13.0,7/4/2013,18:00,2013,clausura,18.0,13.0,2.0,1.0,10.0,11.0,29.0,-18.0,7.0,1.0,0.0,0.0,3.0,0.0,3.0,3.0,17.0,13.0,2.0,3.0,8.0,14.0,21.0,-7.0,9.0,0.0,0.0,1.0,0.0,4.0,-4.0,0.0,2,False,san luis,atlante,1.0,0.0
285,14.0,13/4/2013,21:00,2013,clausura,16.0,14.0,2.0,4.0,8.0,16.0,23.0,-7.0,10.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,2.0,14.0,8.0,4.0,2.0,18.0,11.0,7.0,28.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1,True,san luis,atlas,2.0,2.0
286,15.0,20/4/2013,17:00,2013,clausura,16.0,15.0,5.0,6.0,4.0,14.0,16.0,-2.0,21.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,11.0,15.0,2.0,4.0,9.0,17.0,25.0,-8.0,10.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,0,False,san luis,queretaro,1.0,2.0
287,16.0,27/4/2013,21:00,2013,clausura,18.0,16.0,3.0,4.0,9.0,18.0,25.0,-7.0,13.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,11.0,16.0,5.0,3.0,8.0,15.0,21.0,-6.0,18.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,2,True,san luis,tijuana,1.0,0.0
288,17.0,5/5/2013,12:00,2013,clausura,17.0,17.0,5.0,3.0,9.0,14.0,21.0,-7.0,18.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,12.0,17.0,4.0,4.0,9.0,19.0,25.0,-6.0,16.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,2,False,san luis,toluca,1.0,0.0

In [18]:
list(teams[0].columns)

['JRD',
 'FECHA',
 'HORA',
 'ANO',
 'TIPO',
 'L_POS',
 'L_JJ',
 'JG_x',
 'JE_x',
 'JP_x',
 'GF_x',
 'GC_x',
 'DIF_x',
 'PTS_x',
 'L_R_JG_JJ',
 'L_R_JE_JJ',
 'L_R_JP_JJ',
 'L_R_GF_JJ',
 'L_R_GC_JJ',
 'L_R_DIF_JJ',
 'L_R_PTS_JJ',
 'V_POS',
 'V_JJ',
 'JG_y',
 'JE_y',
 'JP_y',
 'GF_y',
 'GC_y',
 'DIF_y',
 'PTS_y',
 'V_R_JG_JJ',
 'V_R_JE_JJ',
 'V_R_JP_JJ',
 'V_R_GF_JJ',
 'V_R_GC_JJ',
 'V_R_DIF_JJ',
 'V_R_PTS_JJ',
 'RES',
 'ES_LOC',
 'EQUIPO',
 'EQUIPO_C',
 'GE',
 'GEC']

In [19]:
teams[1].tail()

,JRD,FECHA,HORA,ANO,TIPO,L_POS,L_JJ,JG_x,JE_x,JP_x,GF_x,GC_x,DIF_x,PTS_x,L_R_JG_JJ,L_R_JE_JJ,L_R_JP_JJ,L_R_GF_JJ,L_R_GC_JJ,L_R_DIF_JJ,L_R_PTS_JJ,V_POS,V_JJ,JG_y,JE_y,JP_y,GF_y,GC_y,DIF_y,PTS_y,V_R_JG_JJ,V_R_JE_JJ,V_R_JP_JJ,V_R_GF_JJ,V_R_GC_JJ,V_R_DIF_JJ,V_R_PTS_JJ,RES,ES_LOC,EQUIPO,EQUIPO_C,GE,GEC
352,13.0,29/3/2014,19:00,2014,clausura,5.0,13.0,4.0,3.0,6.0,12.0,16.0,-4.0,15.0,1.0,0.0,0.0,2.0,1.0,1.0,3.0,16.0,13.0,5.0,3.0,5.0,16.0,21.0,-5.0,18.0,1.0,0.0,0.0,2.0,1.0,1.0,3.0,0,False,atlante,monterrey,2.0,3.0
353,14.0,6/4/2014,17:00,2014,clausura,7.0,14.0,5.0,3.0,6.0,16.0,23.0,-7.0,18.0,0.0,0.0,1.0,2.0,3.0,-1.0,0.0,16.0,14.0,4.0,5.0,5.0,10.0,12.0,-2.0,17.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,0,True,atlante,tigres,0.0,2.0
354,15.0,13/4/2014,19:00,2014,clausura,10.0,15.0,6.0,6.0,3.0,29.0,24.0,5.0,24.0,0.0,0.0,1.0,0.0,2.0,-2.0,0.0,4.0,15.0,5.0,3.0,7.0,19.0,27.0,-8.0,18.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,0,False,atlante,santos,3.0,4.0
355,16.0,20/4/2014,17:00,2014,clausura,13.0,16.0,5.0,3.0,8.0,20.0,29.0,-9.0,18.0,0.0,0.0,1.0,3.0,4.0,-1.0,0.0,7.0,16.0,7.0,3.0,6.0,21.0,21.0,0.0,24.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0,True,atlante,tijuana,1.0,2.0
356,17.0,26/4/2014,21:00,2014,clausura,16.0,17.0,6.0,5.0,6.0,23.0,23.0,0.0,23.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,14.0,17.0,5.0,3.0,9.0,22.0,34.0,-12.0,18.0,1.0,0.0,0.0,3.0,2.0,1.0,3.0,0,False,atlante,chiapas,2.0,5.0

End -> Setting up continious variables

In [20]:
# n_teams = []
# for sub_t in teams:
#     if len(sub_t[sub_t.ANO == 2019][sub_t.JRD == 8.0][sub_t.TIPO == 'apertura']) > 0 or len(sub_t[sub_t.ANO == 2019][sub_t.JRD == 9.0][sub_t.TIPO == 'apertura'] and sub_t.EQ
#         if(len(sub_t[(sub_t.ANO == 2019) &]) > 0):
#         n_teams.append(sub_t)
# teams = n_teams

In [21]:
len(teams)

28

### Teams analyzis

In [22]:
len(teams)

28

In [23]:
t_info = {}
for team in teams:
    t_info[team.EQUIPO.unique()[0]] = len(team)

In [24]:
t_info

{'santos': 545,
 'atlante': 357,
 'america': 545,
 'atlas': 545,
 'san luis': 289,
 'uag': 289,
 'morelia': 546,
 'chiapas': 459,
 'monterrey': 545,
 'toluca': 545,
 'cruz azul': 545,
 'guadalajara': 545,
 'tigres': 545,
 'necaxa': 342,
 'unam': 545,
 'puebla': 477,
 'irapuato': 18,
 'veracruz': 376,
 'pachuca': 545,
 'sinaloa': 102,
 'queretaro': 392,
 'indios': 67,
 'tijuana': 290,
 'leon': 256,
 'u de g': 34,
 'lobos buap': 68,
 'atletico de san luis': 18,
 'fc juarez': 18}

In [25]:
teams[0]

,JRD,FECHA,HORA,ANO,TIPO,L_POS,L_JJ,JG_x,JE_x,JP_x,GF_x,GC_x,DIF_x,PTS_x,L_R_JG_JJ,L_R_JE_JJ,L_R_JP_JJ,L_R_GF_JJ,L_R_GC_JJ,L_R_DIF_JJ,L_R_PTS_JJ,V_POS,V_JJ,JG_y,JE_y,JP_y,GF_y,GC_y,DIF_y,PTS_y,V_R_JG_JJ,V_R_JE_JJ,V_R_JP_JJ,V_R_GF_JJ,V_R_GC_JJ,V_R_DIF_JJ,V_R_PTS_JJ,RES,ES_LOC,EQUIPO,EQUIPO_C,GE,GEC
0,1.0,18/1/2004,16:00,2004,clausura,18.0,1.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,True,santos,guadalajara,0.0,1.0
1,2.0,24/1/2004,20:30,2004,clausura,18.0,2.0,1.0,1.0,0.0,4.0,2.0,2.0,4.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0,2.0,2.0,0.0,1.0,1.0,2.0,3.0,-1.0,1.0,1.0,0.0,0.0,2.0,0.0,2.0,3.0,1,False,santos,necaxa,2.0,2.0
2,3.0,1/2/2004,16:00,2004,clausura,16.0,3.0,1.0,1.0,1.0,4.0,3.0,1.0,4.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,17.0,3.0,0.0,1.0,2.0,2.0,5.0,-3.0,1.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,2,True,santos,puebla,2.0,0.0
3,4.0,8/2/2004,12:00,2004,clausura,10.0,4.0,2.0,2.0,0.0,7.0,3.0,4.0,8.0,1.0,0.0,0.0,2.0,0.0,2.0,3.0,6.0,4.0,1.0,1.0,2.0,6.0,6.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,False,santos,unam,2.0,3.0
4,5.0,3/3/2004,20:45,2004,clausura,13.0,5.0,2.0,1.0,2.0,9.0,8.0,1.0,7.0,0.0,0.0,1.0,2.0,3.0,-1.0,0.0,12.0,5.0,1.0,2.0,2.0,6.0,8.0,-2.0,5.0,0.0,0.0,1.0,1.0,4.0,-3.0,0.0,2,True,santos,cruz azul,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,15.0,25/10/2019,19:00,2019,apertura,1.0,14.0,6.0,2.0,6.0,20.0,19.0,1.0,20.0,1.0,0.0,0.0,4.0,1.0,3.0,3.0,8.0,14.0,8.0,3.0,3.0,32.0,21.0,11.0,27.0,1.0,0.0,0.0,3.0,2.0,1.0,3.0,1,False,santos,morelia,2.0,2.0
541,16.0,29/10/2019,19:00,2019,apertura,3.0,15.0,9.0,3.0,3.0,33.0,21.0,12.0,30.0,0.0,1.0,0.0,2.0,2.0,0.0,1.0,2.0,15.0,8.0,3.0,4.0,26.0,15.0,11.0,27.0,2.0,0.0,0.0,5.0,0.0,5.0,6.0,2,True,santos,queretaro,1.0,0.0
542,17.0,2/11/2019,19:00,2019,apertura,1.0,17.0,7.0,7.0,3.0,27.0,22.0,5.0,28.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,3.0,16.0,10.0,3.0,3.0,35.0,22.0,13.0,33.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,2,False,santos,america,2.0,1.0
543,18.0,10/11/2019,18:45,2019,apertura,1.0,17.0,11.0,3.0,3.0,38.0,23.0,15.0,36.0,1.0,0.0,0.0,2.0,1.0,1.0,3.0,13.0,17.0,4.0,8.0,5.0,22.0,23.0,-1.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,True,santos,cruz azul,3.0,1.0
544,19.0,24/11/2019,12:00,2019,apertura,1.0,18.0,4.0,5.0,9.0,16.0,26.0,-10.0,17.0,1.0,0.0,0.0,3.0,1.0,2.0,3.0,17.0,18.0,11.0,4.0,3.0,40.0,25.0,15.0,37.0,0.0,0.0,1.0,0.0,4.0,-4.0,0.0,1,False,santos,toluca,2.0,2.0

Verify uniqueness of jornadas in games

In [26]:
def verify_uniqueness(df):
    x = df.groupby(['ANO', 'TIPO', 'JRD']).size().reset_index().rename(columns={0:'count'})
    return len(x['count'].unique()) == 1

In [27]:
for team in teams:
    print(team.EQUIPO.unique()[0], " ", verify_uniqueness(team))

santos   True
atlante   True
america   True
atlas   True
san luis   True
uag   True
morelia   False
chiapas   True
monterrey   True
toluca   True
cruz azul   True
guadalajara   True
tigres   True
necaxa   False
unam   True
puebla   True
irapuato   True
veracruz   True
pachuca   True
sinaloa   True
queretaro   True
indios   True
tijuana   True
leon   True
u de g   True
lobos buap   True
atletico de san luis   True
fc juarez   True

In [28]:
x = teams[6].groupby(['ANO', 'TIPO', 'JRD']).size().reset_index().rename(columns={0:'count'})
len(x['count'].unique())

2

In [29]:
x[x['count'] == 2]

     ANO      TIPO   JRD  count
81  2006  apertura  13.0      2

In [30]:
y = teams[13].groupby(['ANO', 'TIPO', 'JRD']).size().reset_index().rename(columns={0:'count'})
len(y['count'].unique())

2

In [31]:
y[y['count'] == 2]

     ANO      TIPO   JRD  count
81  2006  apertura  13.0      2

In [32]:
x = teams[6]
x[(x.ANO == 2006) & (x.TIPO == 'apertura') & (x.JRD == 13.)]

,JRD,FECHA,HORA,ANO,TIPO,L_POS,L_JJ,JG_x,JE_x,JP_x,GF_x,GC_x,DIF_x,PTS_x,L_R_JG_JJ,L_R_JE_JJ,L_R_JP_JJ,L_R_GF_JJ,L_R_GC_JJ,L_R_DIF_JJ,L_R_PTS_JJ,V_POS,V_JJ,JG_y,JE_y,JP_y,GF_y,GC_y,DIF_y,PTS_y,V_R_JG_JJ,V_R_JE_JJ,V_R_JP_JJ,V_R_GF_JJ,V_R_GC_JJ,V_R_DIF_JJ,V_R_PTS_JJ,RES,ES_LOC,EQUIPO,EQUIPO_C,GE,GEC
98,13.0,8/11/2006,20:00,2006,apertura,14.0,13.0,3.0,4.0,6.0,14.0,21.0,-7.0,13.0,1.0,0.0,0.0,3.0,2.0,1.0,3.0,15.0,13.0,5.0,2.0,6.0,19.0,22.0,-3.0,17.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,2,False,morelia,necaxa,2.0,0.0
99,13.0,14/10/2006,20:30,2006,apertura,14.0,13.0,3.0,4.0,6.0,14.0,21.0,-7.0,13.0,1.0,0.0,0.0,3.0,2.0,1.0,3.0,15.0,13.0,5.0,2.0,6.0,19.0,22.0,-3.0,17.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,1,False,morelia,necaxa,1.0,1.0

In [33]:
y = teams[13]
y[(y.ANO == 2006) & (y.TIPO == 'apertura') & (y.JRD == 13.)]

,JRD,FECHA,HORA,ANO,TIPO,L_POS,L_JJ,JG_x,JE_x,JP_x,GF_x,GC_x,DIF_x,PTS_x,L_R_JG_JJ,L_R_JE_JJ,L_R_JP_JJ,L_R_GF_JJ,L_R_GC_JJ,L_R_DIF_JJ,L_R_PTS_JJ,V_POS,V_JJ,JG_y,JE_y,JP_y,GF_y,GC_y,DIF_y,PTS_y,V_R_JG_JJ,V_R_JE_JJ,V_R_JP_JJ,V_R_GF_JJ,V_R_GC_JJ,V_R_DIF_JJ,V_R_PTS_JJ,RES,ES_LOC,EQUIPO,EQUIPO_C,GE,GEC
98,13.0,8/11/2006,20:00,2006,apertura,15.0,13.0,3.0,4.0,6.0,14.0,21.0,-7.0,13.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,14.0,13.0,5.0,2.0,6.0,19.0,22.0,-3.0,17.0,1.0,0.0,0.0,3.0,2.0,1.0,3.0,0,True,necaxa,morelia,0.0,2.0
99,13.0,14/10/2006,20:30,2006,apertura,15.0,13.0,3.0,4.0,6.0,14.0,21.0,-7.0,13.0,0.0,0.0,1.0,1.0,2.0,-1.0,0.0,14.0,13.0,5.0,2.0,6.0,19.0,22.0,-3.0,17.0,1.0,0.0,0.0,3.0,2.0,1.0,3.0,1,True,necaxa,morelia,1.0,1.0

In [34]:
x.drop([98], axis=0, inplace=True)

In [35]:
y.drop([98], axis=0, inplace=True)

In [36]:
for team in teams:
    team.reset_index(drop = True, inplace = True)
    assert(verify_uniqueness(team))

## Data analyzis

In [37]:
a = {}
b = {}
for sub_t in teams:
    if(len(sub_t) >= 300): a[sub_t.EQUIPO.unique()[0]] = len(sub_t)
    else: b[sub_t.EQUIPO.unique()[0]] = len(sub_t)

In [38]:
a

{'santos': 545,
 'atlante': 357,
 'america': 545,
 'atlas': 545,
 'morelia': 545,
 'chiapas': 459,
 'monterrey': 545,
 'toluca': 545,
 'cruz azul': 545,
 'guadalajara': 545,
 'tigres': 545,
 'necaxa': 341,
 'unam': 545,
 'puebla': 477,
 'veracruz': 376,
 'pachuca': 545,
 'queretaro': 392}

In [39]:
b

{'san luis': 289,
 'uag': 289,
 'irapuato': 18,
 'sinaloa': 102,
 'indios': 67,
 'tijuana': 290,
 'leon': 256,
 'u de g': 34,
 'lobos buap': 68,
 'atletico de san luis': 18,
 'fc juarez': 18}

# Data Prep

In [40]:
from fastai import *
from fastai.text import *
from fastai.tabular import *
from fastai import *

In [41]:
deep_vars = ['RES']
# deep_vars = ['GE']
#categorical values
cat_names = ['EQUIPO', 'EQUIPO_C', 'ES_LOC', 'L_POS', 'V_POS', 'JRD', 'ANO', 'TIPO']
#continious variables
cont_names = ['L_R_JG_JJ', 'L_R_JE_JJ', 'L_R_JP_JJ', 'L_R_GF_JJ', 'L_R_GC_JJ', 'L_R_DIF_JJ', 'L_R_PTS_JJ',
             'V_R_JG_JJ', 'V_R_JE_JJ', 'V_R_JP_JJ', 'V_R_GF_JJ', 'V_R_GC_JJ', 'V_R_DIF_JJ', 'V_R_PTS_JJ']
procs = [Categorify, Normalize]

In [42]:
def get_dif(a, b):
    # a - b
    dif_arr = []
    curr_set = {}
    for x in b: curr_set[x] = 1
    for x in a:
        if x not in curr_set: dif_arr.append(x)
    return dif_arr

equipos_set = {}
pos_set = {}
jrd_set = {}
ano_set = {}
tipo_set = {}

for cdf in teams:
    for nm in cdf.EQUIPO.unique(): equipos_set[nm] = True
    for nm in cdf.EQUIPO_C.unique(): equipos_set[nm] = True
   
    for nm in cdf.L_POS.unique(): pos_set[nm] = True
    for nm in cdf.V_POS.unique(): pos_set[nm] = True
        
    for nm in cdf.JRD.unique(): jrd_set[nm] = True
        
        
    for nm in cdf.ANO.unique(): ano_set[nm] = True

    for nm in cdf.TIPO.unique(): tipo_set[nm] = True    
        
print(len(equipos_set))
all_equipos = list(equipos_set.keys())
all_pos = list(pos_set.keys())
all_jrd = list(jrd_set.keys())
all_ano = list(ano_set.keys())
all_tipo = list(tipo_set.keys())

28

In [43]:
def my_create(train_ds:Dataset, valid_ds:Dataset, test_ds:Optional[Dataset]=None, path:PathOrStr='.', bs:int=64,
           val_bs:int=None, num_workers:int=defaults.cpus, dl_tfms:Optional[Collection[Callable]]=None,
           device:torch.device=None, collate_fn:Callable=data_collate, no_check:bool=False, **dl_kwargs)->'DataBunch':
    "Create a `DataBunch` from `train_ds`, `valid_ds` and maybe `test_ds` with a batch size of `bs`. Passes `**dl_kwargs` to `DataLoader()`"
    datasets = DataBunch._init_ds(train_ds, valid_ds, test_ds)
    val_bs = ifnone(val_bs, bs)
    dls = [DataLoader(d, b, shuffle=s, drop_last=s, num_workers=num_workers, **dl_kwargs) for d,b,s in zip(datasets, (bs,val_bs,val_bs,val_bs), (False,False,False,False)) if d is not None]
    return DataBunch(*dls, path=path, device=device, dl_tfms=dl_tfms, collate_fn=collate_fn, no_check=no_check)

In [44]:
ds_teams = []
datas = []

all_equipos.sort()
all_pos.sort()
all_jrd.sort()
all_ano.sort()
all_tipo.sort()

order_equipos = []
for cdf in teams:
    order_equipos.append(cdf.EQUIPO.unique()[0])
    
    dif_equipo = get_dif(all_equipos, list(cdf.EQUIPO.unique()))
    dif_equipo_c = get_dif(all_equipos, list(cdf.EQUIPO_C.unique()))
    
    dif_lpos = get_dif(all_pos, list(cdf.L_POS.unique()))
    dif_vpos = get_dif(all_pos, list(cdf.V_POS.unique()))
    
    dif_jrd = get_dif(all_jrd, list(cdf.JRD.unique()))
    
    dif_ano = get_dif(all_ano, list(cdf.ANO.unique()))
    dif_tipo = get_dif(all_tipo, list(cdf.TIPO.unique()))
    
#     print(dif_equipo)
    
    cdf.EQUIPO = cdf.EQUIPO.astype('category')
    cdf.EQUIPO.cat.add_categories(dif_equipo, inplace=True)
    cdf.EQUIPO.cat.reorder_categories(all_equipos, inplace=True)
    
    cdf.EQUIPO_C = cdf.EQUIPO_C.astype('category')
    cdf.EQUIPO_C.cat.add_categories(dif_equipo_c, inplace=True)
    cdf.EQUIPO_C.cat.reorder_categories(all_equipos, inplace=True)
    
    cdf.L_POS = cdf.L_POS.astype('category')
    cdf.L_POS.cat.add_categories(dif_lpos, inplace=True)
    cdf.L_POS.cat.reorder_categories(all_pos, inplace=True)
    
    cdf.V_POS = cdf.V_POS.astype('category')
    cdf.V_POS.cat.add_categories(dif_vpos, inplace=True)
    cdf.V_POS.cat.reorder_categories(all_pos, inplace=True)
    
    cdf.JRD = cdf.JRD.astype('category')
    cdf.JRD.cat.add_categories(dif_jrd, inplace=True)
    cdf.JRD.cat.reorder_categories(all_jrd, inplace=True)
    
    cdf.ANO = cdf.ANO.astype('category')
    cdf.ANO.cat.add_categories(dif_ano, inplace=True)
    cdf.ANO.cat.reorder_categories(all_ano, inplace=True)
    
    cdf.TIPO = cdf.TIPO.astype('category')
    cdf.TIPO.cat.add_categories(dif_tipo, inplace=True)
    cdf.TIPO.cat.reorder_categories(all_tipo, inplace=True)
    
    data = (TabularList.from_df(cdf, path="./data/ligamx", cat_names=cat_names, cont_names=cont_names, procs=procs)
       .split_none()
       .label_from_df(cols=deep_vars))
    data.x._bunch.create = my_create
    data = data.databunch(bs=len(cdf))
    ds_teams.append(next(iter(data.train_dl)))
    datas.append(data)

In [45]:
len(ds_teams)

28

In [46]:
ds_teams_valid = []
n_valid_bptt = 2
mx_jrd, mx_ano, mx_tipo = 0, 0, 3

#find maximums
for tm in range(len(teams)):
    lst_gm_i = len(ds_teams[tm][1])-1
    jrd, ano, tipo = ds_teams[tm][0][0][lst_gm_i][5].item(), ds_teams[tm][0][0][lst_gm_i][6].item(), ds_teams[tm][0][0][lst_gm_i][7].item()
    
    if(ano > mx_ano): mx_jrd, mx_ano, mx_tipo = jrd, ano, tipo
    elif(ano == mx_ano):
        if(tipo < mx_tipo): mx_jrd, mx_ano, mx_tipo = jrd, ano, tipo
        elif(tipo == mx_tipo):
            if(jrd > mx_jrd): mx_jrd, mx_ano, mx_tipo = jrd, ano, tipo

usable_jrds = {}
for i in range(n_valid_bptt): usable_jrds[(mx_jrd-i, mx_ano, mx_tipo)] = True
    
#workout maximums
for tm in range(len(teams)):
    lst_gm_i = len(ds_teams[tm][1])-1
    first_to_use = lst_gm_i+1
    for i in range(n_valid_bptt):
        jrd, ano, tipo = ds_teams[tm][0][0][lst_gm_i-i][5].item(), ds_teams[tm][0][0][lst_gm_i-i][6].item(), ds_teams[tm][0][0][lst_gm_i-i][7].item()
        if (jrd, ano, tipo) in usable_jrds:
            first_to_use -= 1
    
    ds_teams_valid.append( ((ds_teams[tm][0][0][first_to_use :],ds_teams[tm][0][1][first_to_use :]), ds_teams[tm][1][first_to_use :]) )
    ds_teams[tm] = ((ds_teams[tm][0][0][:first_to_use ],ds_teams[tm][0][1][:first_to_use ]), ds_teams[tm][1][:first_to_use ])

In [47]:
tm = 0
ps = len(ds_teams[tm][1])
ds_teams[tm][0][0][ps-1][5].item(), ds_teams[tm][0][0][ps-1][6].item(), ds_teams[tm][0][0][ps-1][7].item(), ps

(17, 16, 1, 543)

In [48]:
teams_set = {}
for i in range(len(ds_teams)):
    assert(ds_teams[i][0][0][0][0].item() not in teams_set)
    teams_set[ds_teams[i][0][0][0][0].item()] = True

## General Statistics

In [49]:
loc_wins, tie, vis_wins = len(df[df.RES == 2]), len(df[df.RES == 1]), len(df[df.RES==0])

assert(loc_wins + tie + vis_wins == len(df))

print(loc_wins/len(df), tie/len(df), vis_wins/len(df))

0.4480097481722177 0.2806661251015435 0.27132412672623885

## Custom dataset and dataloader

In [50]:
from rnn_tab_ds import RNNTabDataset

In [51]:
bptt_use = 20

In [52]:
rnn_tab_ds = RNNTabDataset(ds_teams, bptt_use)

27

In [53]:
rnn_tab_ds_valid = RNNTabDataset(ds_teams_valid, n_valid_bptt, True)

1

In [54]:
batches = 1

In [55]:
curr_dl = DataLoader(rnn_tab_ds, batches, shuffle=False, drop_last = False)

In [56]:
curr_dl_valid = DataLoader(rnn_tab_ds_valid, batches, shuffle=False, drop_last = False)

# Model

## Setup

Optimal Learning Rate CLR

In [57]:
# Class and function that help us a good learning rate for our model
from opt_lr import CLR, find_lr

 Once Cycle

In [58]:
# Class that helps us implement one cylce in our model
from one_cycle import OneCycle

In [59]:
# torch.cuda.is_available() checks and returns a Boolean True if a GPU is available, else it'll return False
is_cuda = torch.cuda.is_available()

# If we have a GPU available, we'll set our device to GPU. We'll use this device variable later in our code.
if is_cuda:
    device = torch.device("cuda")
    print("GPU is available")
else:
    device = torch.device("cpu")
    print("GPU not available, CPU used")

GPU not available, CPU used

Getting model

In [60]:
# Class that contains the model to predict game results along a function that helps us identify matches in the games from a jornada
from rnn_tabular_model import RnnTabularModel

# Model utils
from model_utils import get_matching_idxs, get_loss, pred, accuracy, get_res, view_predictions_and_results

GPU not available, CPU used

Validation setup

In [61]:
curr_it = iter(curr_dl_valid)
tst = next(curr_it)

sample_cat = tst[0][0][0].type(torch.LongTensor).to(device)
sample_cont = tst[0][1][0].to(device)
sample_res = tst[1][0].type(torch.LongTensor).to(device)
sample_res= get_res(sample_cat, sample_res)

sample_cat.shape

torch.Size([28, 2, 8])

## Training setup and model creation

In [62]:
emb_szs = [(29, 30), (29, 30), (3, 10), (21, 30), (21, 30), (20, 1), (17, 1), (3, 1)]
n_cont =len(cont_names)
out_sz = 3
out_sz_rnn = 20
lyrs = 2
bs = 28
dropout_embeds = 0.3
dropout_reg = 0.3

wd = 0.1

In [63]:
# Instantiate the model with hyperparameters
model = RnnTabularModel(emb_szs, n_cont, out_sz, out_sz_rnn, lyrs, bs, dropout_reg, dropout_embeds)

# We'll also set the model to the device that we defined earlier (default is CPU)
model.to(device)

# Define hyperparameters
n_epochs = 40
lr = 1e-3

# Define Loss, Optimizer
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.AdamW(model.parameters(), lr=lr, weight_decay = wd)

## Training

In [64]:
# #def find_lr(loss_func, opt, clr, model):
# clr = CLR(curr_dl)
# find_lr(criterion, optimizer, clr, model, curr_dl)
# clr.plot()

In [65]:
from optimizer_utils import changeLr, changeLrAndMomentums

In [67]:
# Training Run
# Average loss in all batches
train_loss_avgs = [0 for i in range(len(iter(curr_dl)))]

for epoch in range(1, n_epochs + 1):
    dl_it = iter(curr_dl)
    
    # resetting our h mtrx and setting model to train mode
    model.reset_h()
    model.train()
    
    # loss accumulative across batches
    ttl_train_loss = 0;
    for i_batch, curr_batch in enumerate(dl_it):

        optimizer.zero_grad() # Clears existing gradients from previous epoch
        x_cat, x_cont = curr_batch[0][0][0].type(torch.LongTensor).to(device), curr_batch[0][1][0].to(device)
        
        # getting cat'ed res from current batch 
        res = get_res(x_cat, curr_batch[1][0].type(torch.LongTensor).to(device))

        # calculating model output
        output = model(x_cat, x_cont)
        loss = criterion(output, res)
        loss.backward() # Does backpropagation and calculates gradients
        optimizer.step() # Updates the weights accordingly
        
        # updating ttl train loss
        ttl_train_loss += loss.item()
        
        # updating loss averages
        train_loss_avgs[i_batch] += loss.item()/(n_epochs)
        
        if i_batch == len(dl_it)-1:
            loss_valid = get_loss(model, sample_cat, sample_cont, sample_res)
            accuracy_valid = accuracy(model, sample_cat, sample_cont, sample_res)
    
    if epoch%1 == 0:
        print("Epoch: {}/{}.......".format(epoch, n_epochs), end=' ')
        print("Train Loss: {:.4f}......".format(ttl_train_loss/(len(dl_it))), end = ' ')
        print("Last batch train Loss: {:.4f}......".format(loss.item()), end = ' ')
        print("Valid Loss: {:.4f}......".format(loss_valid.item()), end = ' ')
        print("Valid acc: {:.4f}".format(accuracy_valid), end=' ')
        print("LR: {:.4f}".format(optimizer.param_groups[0]['lr']))

Epoch: 1/40....... Train Loss: 1.0991...... Last batch train Loss: 1.0936...... Valid Loss: 1.0886...... Valid acc: 0.3889 LR: 0.0010
Epoch: 2/40....... Train Loss: 1.0935...... Last batch train Loss: 1.0926...... Valid Loss: 1.0704...... Valid acc: 0.5000 LR: 0.0010
Epoch: 3/40....... Train Loss: 1.0908...... Last batch train Loss: 1.0937...... Valid Loss: 1.0509...... Valid acc: 0.5556 LR: 0.0010
Epoch: 4/40....... Train Loss: 1.0808...... Last batch train Loss: 1.0668...... Valid Loss: 1.0233...... Valid acc: 0.6111 LR: 0.0010
Epoch: 5/40....... Train Loss: 1.0752...... Last batch train Loss: 1.0555...... Valid Loss: 0.9748...... Valid acc: 0.6111 LR: 0.0010
Epoch: 6/40....... Train Loss: 1.0781...... Last batch train Loss: 1.0865...... Valid Loss: 0.9777...... Valid acc: 0.6111 LR: 0.0010
Epoch: 7/40....... Train Loss: 1.0684...... Last batch train Loss: 1.0399...... Valid Loss: 0.9322...... Valid acc: 0.6667 LR: 0.0010
Epoch: 8/40....... Train Loss: 1.0638...... Last batch train Loss: 1.0416...... Valid Loss: 0.9067...... Valid acc: 0.6667 LR: 0.0010
Epoch: 9/40....... Train Loss: 1.0539...... Last batch train Loss: 1.0319...... Valid Loss: 0.8873...... Valid acc: 0.6667 LR: 0.0010
Epoch: 10/40....... Train Loss: 1.0494...... Last batch train Loss: 1.0294...... Valid Loss: 0.8835...... Valid acc: 0.6111 LR: 0.0010
Epoch: 11/40....... Train Loss: 1.0438...... Last batch train Loss: 1.0239...... Valid Loss: 0.8831...... Valid acc: 0.6667 LR: 0.0010
Epoch: 12/40....... Train Loss: 1.0426...... Last batch train Loss: 1.0394...... Valid Loss: 0.8727...... Valid acc: 0.7778 LR: 0.0010
Epoch: 13/40....... Train Loss: 1.0372...... Last batch train Loss: 1.0165...... Valid Loss: 0.8840...... Valid acc: 0.6667 LR: 0.0010
Epoch: 14/40....... Train Loss: 1.0373...... Last batch train Loss: 1.0268...... Valid Loss: 0.8596...... Valid acc: 0.6111 LR: 0.0010
Epoch: 15/40....... Train Loss: 1.0297...... Last batch train Loss: 1.0141...... Valid Loss: 0.9377...... Valid acc: 0.6111 LR: 0.0010
Epoch: 16/40....... Train Loss: 1.0273...... Last batch train Loss: 1.0196...... Valid Loss: 0.9411...... Valid acc: 0.6667 LR: 0.0010
Epoch: 17/40....... Train Loss: 1.0147...... Last batch train Loss: 0.9824...... Valid Loss: 0.8949...... Valid acc: 0.7222 LR: 0.0010
Epoch: 18/40....... Train Loss: 1.0135...... Last batch train Loss: 1.0154...... Valid Loss: 0.9204...... Valid acc: 0.6667 LR: 0.0010
Epoch: 19/40....... Train Loss: 1.0011...... Last batch train Loss: 0.9893...... Valid Loss: 0.9314...... Valid acc: 0.7222 LR: 0.0010
Epoch: 20/40....... Train Loss: 0.9930...... Last batch train Loss: 0.9892...... Valid Loss: 1.0042...... Valid acc: 0.6111 LR: 0.0010
Epoch: 21/40....... Train Loss: 0.9792...... Last batch train Loss: 0.9775...... Valid Loss: 0.9850...... Valid acc: 0.6667 LR: 0.0010
Epoch: 22/40....... Train Loss: 0.9685...... Last batch train Loss: 0.9355...... Valid Loss: 1.0235...... Valid acc: 0.6111 LR: 0.0010
Epoch: 23/40....... Train Loss: 0.9544...... Last batch train Loss: 0.9423...... Valid Loss: 1.0135...... Valid acc: 0.6111 LR: 0.0010
Epoch: 24/40....... Train Loss: 0.9450...... Last batch train Loss: 0.8985...... Valid Loss: 1.0248...... Valid acc: 0.6111 LR: 0.0010
Epoch: 25/40....... Train Loss: 0.9278...... Last batch train Loss: 0.9105...... Valid Loss: 1.1530...... Valid acc: 0.5556 LR: 0.0010
Epoch: 26/40....... Train Loss: 0.9000...... Last batch train Loss: 0.9024...... Valid Loss: 1.0187...... Valid acc: 0.6111 LR: 0.0010
Epoch: 27/40....... Train Loss: 0.8832...... Last batch train Loss: 0.8657...... Valid Loss: 1.0730...... Valid acc: 0.6111 LR: 0.0010
Epoch: 28/40....... Train Loss: 0.8617...... Last batch train Loss: 0.8106...... Valid Loss: 1.1022...... Valid acc: 0.5000 LR: 0.0010
Epoch: 29/40....... Train Loss: 0.8320...... Last batch train Loss: 0.7663...... Valid Loss: 1.3187...... Valid acc: 0.4444 LR: 0.0010
Epoch: 30/40....... Train Loss: 0.8149...... Last batch train Loss: 0.7974...... Valid Loss: 1.2353...... Valid acc: 0.6111 LR: 0.0010
Epoch: 31/40....... Train Loss: 0.7930...... Last batch train Loss: 0.7514...... Valid Loss: 1.2541...... Valid acc: 0.4444 LR: 0.0010
Epoch: 32/40....... Train Loss: 0.7554...... Last batch train Loss: 0.7089...... Valid Loss: 1.4407...... Valid acc: 0.4444 LR: 0.0010
Epoch: 33/40....... Train Loss: 0.7312...... Last batch train Loss: 0.6848...... Valid Loss: 1.2995...... Valid acc: 0.5556 LR: 0.0010
Epoch: 34/40....... Train Loss: 0.7029...... Last batch train Loss: 0.6442...... Valid Loss: 1.7346...... Valid acc: 0.3333 LR: 0.0010
Epoch: 35/40....... Train Loss: 0.6739...... Last batch train Loss: 0.6716...... Valid Loss: 1.5385...... Valid acc: 0.3333 LR: 0.0010
Epoch: 36/40....... Train Loss: 0.6628...... Last batch train Loss: 0.6119...... Valid Loss: 1.7550...... Valid acc: 0.2778 LR: 0.0010
Epoch: 37/40....... Train Loss: 0.6315...... Last batch train Loss: 0.5878...... Valid Loss: 1.6992...... Valid acc: 0.2222 LR: 0.0010
Epoch: 38/40....... Train Loss: 0.6061...... Last batch train Loss: 0.5522...... Valid Loss: 1.6366...... Valid acc: 0.5000 LR: 0.0010
Epoch: 39/40....... Train Loss: 0.5840...... Last batch train Loss: 0.5515...... Valid Loss: 2.0440...... Valid acc: 0.2222 LR: 0.0010
Epoch: 40/40....... Train Loss: 0.5397...... Last batch train Loss: 0.5556...... Valid Loss: 1.6223...... Valid acc: 0.3889 LR: 0.0010

In [177]:
output.shape

torch.Size([180, 3])

In [178]:
res.shape

torch.Size([180])

In [ ]:
# save_path = "./models/1/1"
# torch.save(model.state_dict(), save_path)
# model = RnnTabularModel(emb_szs, n_cont, out_sz, lyrs, bs, dropout_reg, dropout_embeds)
# model.load_state_dict(torch.load(save_path))

In [ ]:
def plot_losses(losses):
    plt.xlabel("batch")
    plt.ylabel("Losses")
    plt.plot([i+1 for i in range(len(losses))], losses)

In [ ]:
plot_losses(loss_avgs)

## Validation Results

In [ ]:
sample_pred, sample_prob, m_out= pred(model, sample_cat, sample_cont, sample_res)

In [ ]:
acc = accuracy(model, sample_cat, sample_cont, sample_res)
acc